@charset "utf-8";
* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box;
  /* border:1px solid red; */
}
li { list-style:none;}
a { text-decoration:none; color:#333;}
html, body {
  font-size:10px;
}
/*header Section*/

.headerWrap {
  background:#fff;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
}
/*subMenu*/
.subMenuWrap {
  width:100%;
  height:100%;
  position:fixed; 
  z-index:1;
  top:0;
  left:-100%;
  background:antiquewhite;
  opacity:1;
}
.toggleMenu {
  width:6rem;
  height:5rem;
  line-height:5rem;
  text-align:center;
  position:absolute;
  z-index:11;
  top:2.5rem;
  right:5%;
  color:#54575A;
  font-weight:700;
  font-size:2.0rem;
  letter-spacing: -0.1rem;
  display:block;
}
.subMenuOne {
  width:100%;
  height:100%;
  max-width:1180px;
  margin:auto;
  display:flex;
  justify-content: space-around;
  
  flex-direction: column;
 
}
.subMenuOne > li {
  width:80%;
  height:20%;
  margin:auto;
  border-radius:15px;
  background:#eee;
}
.subMenuOne > li > a {
  position:relative;
  top:0; 
  left:0;
  display:block;
  width:100%;
  height:100%;
  padding:10%;
  overflow:hidden;
  
}
.subMenuOne > li > a > span {
  font-size:2.4rem;
  font-weight:700;
  color:#fff;
}
.subMenuOne > li > a > p {
  font-size:1.6rem;
  color:#fff;
}

.subMenuOne > li > a > div {
  width:100px;
  height:100px;
  position:absolute;
  z-index:1;
  right:0;
  bottom:0;
  
}
.subMenuOne > li > a > div img {
  width:100%;
  height:100%:
}

.subMenuOne > li:nth-child(1){
  background:#EEEDEA;
}
.subMenuOne > li:nth-child(2){
  background:#D3B589;
}
.subMenuOne > li:nth-child(3){
  background:#B5D4CC;
}
.subMenuOne > li:nth-child(4){
  background:#7CA5CF; 
}

.header {
  height:10rem;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  /* display:none; */
}
.logo { 
  flex:1 0 auto;
}
.logo > a {
  font-size:2rem;

  
} 
.headerMenu {
  height:10rem;
  display:flex;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items:center;
  display:none;
}

.headerMenuOne {
  justify-content: center;
  height:10rem;
}
.headerMenuOne a { 
  margin-left:5rem;
  display:block;
  height:10rem;
  line-height:10rem;
}
.headerMenuTwo {
  justify-content: flex-end;
}

.headerMenu > li {  
}
.headerMenu > li > a {

  font-size:1.6rem;
  display:block;
  font-weight:700;
  color:#909090;
  
}


.ml {
  margin-left:2rem;
}

/*utility section*/
.bt {
  margin-bottom:300px;
}
.btnRound {
  transition:0.3s;
  background:#EFA618;
  padding:1.5rem 3rem 1.5rem;
  border-radius: 3rem;
  color:#fff!important;
  font-weight:bold;
  font-size:1.6rem;
}
.btnRound:hover {
  box-shadow: 20px 20px 20px 20px inset rgba(0,0,0,0.2);
}

.btn {
  transition:0.3s;
}
.sectionTwoBox:hover .btn{
  background:#fff;
  color:#54575A;
  padding:2.5% 5% 2.5% 5%;
  border-radius: 50px;
  
}
.sectionTwoBox:hover p:nth-of-type(2){
  opacity: 1;
  transform:scale(1.2);
  padding-left:10%;
}
.sectionTwoBox:hover {
  box-shadow:5px 5px 5px 5px #eee;
}

.sectionTwoBoxOne:hover {
  margin-left:-5%;
}
.sectionTwoBoxTwo:hover {
  margin-left:-5%;
}
.sectionTwoBoxThree:hover {
  margin-left:5%;
}
.sectionTwoBoxFour:hover {
  margin-left:5%;
}







/*sectionOne 입니다.*/

.sectionOneWrap {
  position:relative;

  top:0;
  left:0;
  width:100%;
  height:auto;
  background:#F9F8F7;
  
}
.sectionOne {
  width:100%;
  height:auto;
  display:flex;
  flex-wrap:wrap;
 
}
.sectionOneLeftWrap {
  width:80%;
  margin:auto;
  height:auto;
  padding-left:0%;
  padding-top:10%;
}
.sectionOneLeftBoxes {
  width:100%; 
  height:auto;
}
.sectionOneLeftBox {
  padding-bottom:5%;
}

.sectionOneLeftBox > h2 {
  font-size:72px;
  font-weight:700;
  line-height:1;
  color:#54575A;
  word-spacing:-1rem;
  padding-bottom:15%;
  
}
.sectionOneLeftBox > p {
  color:#6E7272;
  font-size:2.4rem;
  letter-spacing:-0.1rem;
  padding-bottom:5rem;

}
.sectionOneLeftBox > a {}
.sectionOneLeftBoxOne { }
.sectionOneLeftBoxTwo > h2 {
  font-size:4.8rem;
}
.sectionOneLeftBoxTwo > p {
  font-size:2.4rem;
}
.sectionOneRight {
  width:100%;
  margin:auto;
 
}
.sectionOneVideo {
  vertical-align: top;
  position:relative; 
  left:0;
  top:0;
  width: 100%; 
  height:860px;
}

/*sectionTwoWrap*/

.sectionTwoWrap {
  padding-top:15%;
  width:100%;
  height:auto;
  background:#F9F8F7;
  

}
.sectionTwo {
  width: 100%;
  /* max-width: 1196px; */
  max-width:1100px;
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  padding-bottom:10%;
 
  /* padding: 0 24px; */
}
.sectionTwoLeft {
  width:100%;
  margin:auto;
  height:auto;

}
.sectionTwoRight {
  width:100%;
  height:auto;
}


/*sectionTwoLeft side*/

.sectionTwoLeft > div {
  /* height:33%;  */
 
}

/* left BoxOne*/
.sectionTwoLeftBoxIntro {
  width:80%;
  margin:auto;
  border-radius:20px;
  padding-left:5%;
  background:#eee;
  padding:7.5% 10% 7.5% 10%;
  background-attachment: fixed;;
  
  
}
.sectionTwoLeftBoxIntro > h2 {
  font-size:4.8rem;
  color:#54575A;
  padding-bottom:5%;
  word-spacing:-0.5rem;
  line-height:1;
  
}
.sectionTwoLeftBoxIntro > p {
  color:#6E7272;
  font-size:2.4rem;
  word-spacing: -0.5rem;
}

/* left BoxTwo*/
.sectionTwoLeftBoxTwo {
  width:80%;
  margin:auto;
  background:#D3B589;
  border-radius:20px;
  padding:10%;
}
/*sectionTwoBox style sheet*/
.sectionTwoBox {
  overflow:hidden;
  transition: 0.3s;
  width:90%;
  margin-left:5%;
 
  background:#D3B589;
  border-radius:20px;
  padding:10%;
  margin-top:10%;
}
.sectionTwoBox > h3 {
  font-size:2.4rem;
  color:#fff;
}

.sectionTwoBox > p:nth-of-type(1) {
  font-size:3.6rem;
  color:#fff;
  font-weight:700;
  letter-spacing:-0.1rem;
  line-height:1;
  padding-top:7.5%;
}

.sectionTwoBox > p:nth-of-type(2) {
  transition:0.6s;
  font-size:1.6rem;
  color:#fff;
  font-weight:700;
  padding-top:10%;
  opacity:0.1;
}

.sectionTwoBox > div {
  padding-top:50%;
}
.sectionTwoBox > div > a {
  color:#fff;
  font-size:1.6rem;
  font-weight:bold;
}


figure > img { width:100%; height:100%;}

.sectionTwoBoxOne{ 
  transition:0.3s;
  position:relative;
  top:0;
  left:0;
  background:#D3B589;
}
.sectionTwoBoxOne > figure {
  position:absolute;
  bottom:-10%;
  right:0;
  width:50%;
  height:50%;
}


.sectionTwoBoxTwo{ 
  background:#7CA5CF;
  position:relative;
  top:0;
  left:0;
}
.sectionTwoBoxTwo > figure {
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:50%;
}


.sectionTwoBoxThree{ 
  background:#EEEDEA;
  position:relative;
  top:0;
  left:0;
}

.sectionTwoBoxThree > figure {
  position:absolute;
  bottom:-30%;
  right:-10%;
  width:50%;
  height:50%;
  transform:scale(1.5);
}


.sectionTwoBoxFour{ 
  background:#B5D4CC;
  position:relative;
  top:0;
  left:0;
}

.sectionTwoBoxFour > figure {
  position:absolute;
  bottom:-20%;
  right:0%;
  width:50%;
  height:50%;
  transform:scale(1.1);
}


.sectionTwoBoxThree > h3 { color:#54575A;}
.sectionTwoRight .sectionTwoBoxThree p { color:#54575A;}
.sectionTwoBoxThree > div {}
.sectionTwoBoxThree > div > a { color:#54575A;}

/*sectionThree style sheet*/

.sectionThreeWrap {
  width:100%;
  height:auto;
  padding-top:10%;
  background:#FCF0E7;
}
.sectionThree {
  width:100%;
  max-width:1200px;
  margin:auto;
  
  padding:5%;
}
.sectionThreeBoxs {width:100%;}
.sectionThreeBoxs > p {
  color:#54575A;
  font-size:4.6rem;
  font-weight:700;
  text-align:center;
  letter-spacing: -0.1rem;
  word-spacing: -0.3rem;
  padding-bottom:25%;
}

.sectionThreeBoxs > .sectionThreeBoxOne {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:560px;
  
}

.sectionThreeBoxOneLeft { 
 
  width:100%;
  
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;;
}
.coin {
  width:calc(680px/5);
  height:calc(1224px/9);
  background:url(../images/main/coins.png);
  transform:scale(2);
}
.sectionThreeBoxOneRight { 
  /* flex:1 0 50%; */
  width:100%;
  text-align:center;
  padding:7.5% 0 0 2.5%;
  
}
.sectionThreeBoxOneRight > p{
  padding-right:20%;
  padding-right:0%;
  color:#54575A;
  font-size:3.0rem;
  letter-spacing:-0.1rem;
  font-weight:700;
  padding-top:5%;
  padding-bottom:5%;
 
}
.sectionThreeBoxOneRight > blockquote {
  color:#6E7272;
  font-size:2.0rem;
  padding-top:5%;
}
.sectionThreeBoxOneRight > div {
  margin:auto;
  margin-top:10%;
  width:110px; height:45px;

}
.sectionThreeBoxOneRight > div img {width:100%; height:100%;}


/*sectionThreeBoxTwo*/

.sectionThreeBoxs > .sectionThreeBoxTwo {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:560px;
  
}

.sectionThreeBoxTwoLeft { 
  width:100%;
  padding:7.5% 0 0 2.5%;
}

.sectionThreeBoxTwoLeft > p{
  padding-left:3%;
  padding-right:3%;
  text-align:center;
  color:#54575A;
  font-size:3.0rem;
  letter-spacing:-0.1rem;
  font-weight:700;
  padding-top:5%;
 
}
.sectionThreeBoxTwoLeft > blockquote {
  color:#6E7272;
  font-size:2.0rem;
  padding-top:5%;
  padding-left:5%;
  padding-right:5%;
  text-align:center;

}
.sectionThreeBoxTwoLeft > div {
  margin:auto;
  margin-top:5%;
  width:125px; height:70px;
}
.sectionThreeBoxTwoLeft > div img {width:100%; height:100%;}




.sectionThreeBoxTwoRight { 
  width:80%;
  margin:auto;
}


.sectionThreeVideo {
  width:100%; height:200px;
}

/* sectionFour */

.sectionFourWrap {
  width:100%;
  height:auto;
}
.sectionFour {
  width:100%;
  height:1000px;
  background:#F9F8F7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:10%;
}
.sectionFourBoxWrap {
  width:1280px;
  height:auto;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.sectionFourBox {
  width:75%;
  height:250px;
  background:#fff;
  border-radius:30px;
  padding:3% 2% 0%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:5px 5px 5px 5px #eee;
  margin-bottom:5%;
  overflow:hidden;
}
.sectionFourBox > h4 {
  padding-top:15%;
  padding-left:5%;
  font-size:1.8rem;
  text-align:center;
  color:#54575A;
}
.sectionFourBox > p {
  padding-left:5%;
}
.sectionFourBox > div {
  width:250px;
  height:120px;
  margin:auto;
  
  display:flex;
  
}
.sectionFourBox > div > img {
  width:100%;
  height:100%;
}

.sectionFourBox > span {
  display:block;
  text-align: center;
  font-size:1.6rem;
  color:#54575A;
}

.sectionFourIconOne { padding:10% 30%;}
.sectionFourIconTwo { padding:12.5% 25%;}
.sectionFourIconThree { padding:12.5% 25%;}
.sectionFourIconFour { 
  
  padding:12.5% 25%;
}

.sectionFourBoxFive img {
  transform:scale(1.5);
}
.sectionFourBoxFive {
  background:#A2C6C7; 
  color:#fff;
  padding:2.5% 0% 0% 2.5%;
  
}
.sectionFourBoxFive > h4 { 
  font-size:2.6rem;
  text-align:left;
  color:#fff;
}

.sectionFourBoxFive > p { 
  font-size:1.6rem;
  font-weight:bold;
  padding-top:2.5%;
}


.sectionFourBoxSix img {
  transform:scale(1.5);
}
.sectionFourBoxSix { 
  background:#BDC8B5;
  color:#fff;
  padding:2.5% 0% 0% 2.5%;
}

.sectionFourBoxSix > h4 { 
  font-size:2.6rem;
  text-align:left;
  color:#fff;
}

.sectionFourBoxSix > p { 
  font-size:1.6rem;
  font-weight:bold;
  padding-top:2.5%;
}



.sectionFourBoxSeven img {
  transform:scale(1.5);
}
.sectionFourBoxSeven { 
  background:#D3B093;
  color:#fff;
  padding:2.5% 0% 0% 2.5%;
}

.sectionFourBoxSeven > h4 { 
  font-size:2.6rem;
  text-align:left;
  color:#fff;
}

.sectionFourBoxSeven > p { 
  font-size:1.6rem;
  font-weight:bold;
  padding-top:2.5%;
}


.sectionFourBoxEight img {
  transform:scale(1.5);
}
.sectionFourBoxEight { 
  background:#7CA5CF;
  /* background:url(../images/main/sectionFourImageEight.png) no-repeat; */
  color:#fff;
  padding:2.5% 0% 0% 2.5%;
}

.sectionFourBoxEight > h4 { 
  font-size:2.6rem;
  text-align:left;
  color:#fff;
}

.sectionFourBoxEight > p { 
  font-size:1.6rem;
  font-weight:bold;
  padding-top:2.5%;
}


/*sectionFive*/

.sectionFiveWrap {
  width:100%;
  height:auto;
  margin-top:400%;
  
 
}
.sectionFive {
  width:100%;
  height:auto;
  padding-top:50%;
  padding-bottom:50%;
  background:#F9F8F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionFiveBox {
  
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
  max-width:1200px;
  position:relative;
  justify-content: space-around;
}
.sectionFiveBox > li {
  width:30%;
  transition:0.3s;
}
.sectionFiveBox::before {
  content:"As featured in:";
  display:block;
  width:300px;
  height:50px;
  position:absolute;
  top:-200%; left:50%;
  transform:translateX(-50%);
  text-align:center;
  margin:auto;
  font-size:2rem;
  color:#54575A;
  font-weight:700;

}
.sectionFiveBox > li:hover {
  padding-bottom:3rem;
}
.sectionFiveBox > li > img {
  width:100%;
  height:100%;
}

/* footer Section 입니다*/
.footerWrap {
  width:100%;
  height:auto;
  display:block;
  padding:3%;
}
.footer {
  width:100%;
  max-width:1200px;
  height:100%;
  background:#FFFFFF;
  margin:auto;
}
.footerOne {
  display:flex;
  border-bottom:1px solid #e6e4e3;
}
.footerOne > div {
  flex:1 0 auto;
  height:350px;
}
.footerOneLeft {
  padding:2.5%;
  display:flex; 
  flex-direction: column;
}
.footerOneLeft > a {
  font-size:1.4rem;
  font-weight:bold;
  
}
.footerOneRight {
  padding:2.5%;
  display:flex;
}


.footerOneRight > ul {
  flex: 1 0 auto;
}
.footerOneRight > ul > li:nth-child(1) > a {
  color:#54575A;
  font-weight:700;
  display:inline-block;
  padding-bottom:30px;
}

.footerOneRight a {
  font-size:1rem;
  width:60px;
  color:#909090;
  font-style:italic;

  display:inline-block;
}
.footerTwo {
  display:flex;
  flex-wrap:wrap;
  border-bottom:1px solid #e6e4e3;
}
.footerTwo > div {
  flex: 1 0 auto;
}
.footerTwoLeft {
  padding:5%;
  width:100%;
  font-size:3.6rem;
  color: #545754;
  font-weight:bold;
  letter-spacing: -0.1rem;
}
.footerThree {
  padding:5%;
}
.footerThree > p {
  color:#BFBDBB;
  font-size:1.6rem;
  padding-bottom:1%;
}


/* sectionSix 영역입니다.*/

.sectionSixWrap {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:auto;
  background:#F9F8F7;
  
}
.sectionSix {
  width:100%;
  max-width:1440px;
  margin:auto;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  
}


.sectionSixLeft {
  width:100%;
  padding:10%;
}

.sectionSixLeft > h2 {
  font-size:3.0rem;
  font-weight:700;
  color:#54575A;
  word-spacing:-0.1rem;
  line-height:1;
  padding-bottom:5%;
  padding-right:5%;
  text-align:center;
  
}
.sectionSixLeft > p {
  color:#6E7272;
  font-size:1.8rem;
  letter-spacing:-0.1rem;
  padding:5rem
  
}
.sectionSixLeft > a {
  margin-left:20%;
}

.sectionSixRight {
  width:80%;
  
  overflow:hidden;
  background:#F6F6F3;
  padding-bottom:20%;
}
.sectionSixVideo {
  background:#F9F8F7;
  position:relative; 
  /* left:-10%;
  top:-20%; */
  display:none;
  width: 100%; 
  height: 100%;
}



