@charset "utf-8";


/* 
.fadeInLeft {
  animation:fadeInLeft 1s forwards ease;
}

@keyframes fadeInLeft {
  0% { left:-200px; opacity:0; position:relative;}
  100% { left:0px; opacity:1; position:relative;}
}




@keyframes fadeInTop {
  0% { top:-200px; opacity:0; position:relative;}
  100% { top:0px; opacity:1; position:relative;}
}

.fadeInTop {
  animation:fadeInTop 1s forwards ease;
}


@keyframes fadeInRight {
  0% { right:-200px; opacity:0; position:relative;}
  100% { right:0px; opacity:1; position:relative;}
}
.fadeInRight {
  animation:fadeInRight 1s forwards ease;
}


@keyframes fadeInBottom {
  0% { top:200px; opacity:0; position:relative;}
  100% { top:0px; opacity:1; position:relative;}
}

.fadeInBottom {
  animation:fadeInBottom 2s forwards ease;
}


.delayDotNine{
  animation-delay:.9s;
}
.delayDotEight{
  animation-delay:.8s;
}

.delayDotSeven{
  animation-delay:.7s;
}

.delayDotSix{
  animation-delay:.6s;
}

.delayDotFive{
  animation-delay:.5s;
}
.delayDotFour{
  animation-delay:.4s;
}

.delayDotThree {
  animation-delay:0.3s;
}
.delayDotTwo {
  animation-delay:0.2s;
}

.delayDotOne {
  animation-delay:0.1s;
}

.delayOne{
  animation-delay:1s
}
.delayTwo {
  animation-delay:2s
}


.iconHover {
  transition: 0.3s;
}
.iconHover:hover {
  margin-left:10px;
}

.sectionFourImgOne:before {
  transition: 0.3s;
  content:'';
  display:block; 
  position:absolute;
  top:0%; left:0%;
  
  width:100%; height:100%;
  background:rgba(0,0,0,.5);
}

.sectionFourImgOne:hover.sectionFourImgOne::before {
  width:0%;
}

.sectionFourImgTwo:before {
  transition: 0.3s;
  content:'';
  display:block; 
  position:absolute;
  
  top:0; left:0;
  
  width:100%; height:100%;
  background:rgba(0,0,0,.5);
}

.sectionFourImgTwo:hover.sectionFourImgTwo::before {
height:0;
}


.sectionFourImgThree:before {
  transition: 0.3s;
  content:'';
  display:block; 
  position:absolute;
  right:0;
  
  width:100%; height:100%;
  background:rgba(0,0,0,.5);
}

.sectionFourImgThree:hover.sectionFourImgThree::before {
  width:0%;
}

.sectionFourImgFour:before {
  transition: 0.3s;
  content:'';
  display:block; 
  position:absolute;
  bottom:0;
  
  width:100%; height:100%;
  background:rgba(0,0,0,.5);
}

.sectionFourImgFour:hover.sectionFourImgFour::before {
  height:0%;
} */







.sectionOneArrow::before {
  transition: 0.3s;
  content:'';
  display:block; 
  position:absolute;
 
  width:100px; height:100px;
  background:rgba(0,0,0,.5);
}





