@charset "utf-8";
@font-face {
  font-family: 'myFont';
  src: url(../fonts/Montserrat-Regular.eot) format('eot'),
  url(../fonts/Montserrat-Regular.svg) format('svg') ,
  url(../fonts/Montserrat-Regular.ttf) format('ttf') ,
  url(../fonts/Montserrat-Regular.woff) format('woff') ,
  url(../fonts/Montserrat-Regular.woff2) format('woff2');
}
* {
  margin:0;
  padding:0;
  /* border:0.1px solid red; */
}
.hidden {
	display:none;
}
a {
  text-decoration: none;
  color: #727272;
}
li {
  list-style:none;
}

.mr10 {
	margin-right:10px;
}

.mt20 {
	margin-top:20px;
}
body, html { 
  font-family: 'myFont';
  font-size:10px;
}

#wrap {
	transition:0.3s;
	width:100%;
	height:100vh;
	display:flex;
}

/*subTopMenu*/
.subTopMenu {
	width:100%;
	height:8rem;
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	display:flex;
	align-items: center;
	display:none;
	
}
.subTopMenu > li:nth-of-type(1){
	flex:1;
}
.subTopMenu > li:nth-of-type(1) > a {
  margin-left:20px;	
}
.subTopMenu > li:nth-of-type(2){
	justify-content: flex-end;
}
.subTopMenu > li:nth-of-type(3){}

.subTopMenu a {
	font-size:2.0rem;
	margin-right:20px;
}

/*loginPopup*/
.loginWrap {
	opacity: 1;
	position:fixed;
	z-index:2;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.5);
	display:none;
}

.login {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:50rem;
	height:36.4rem;
	background:#fff;
}

.loginClose {
	position:absolute;
	right:1.5rem;
	top:1.5rem;
	width:2.5rem;
	height:2.5rem;
	text-align:center;
	line-height:2.5rem;
	font-size:2.4rem;
	color:black;
	font-weight:700;
}

.loginTitle {
	margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.loginTitle > h2 {
	font-weight: bold;
	font-size: 15px;
	color: #3c3c3c;
}

.loginTitle > span {
  font-size: 12px;
  line-height: 35px;
  color: #666666;
}

fieldset {
	position: relative;
  width: 380px;
	margin: 0 auto;
	border:none;
	
}
fieldset > a {
	position: absolute;
  top: 0;
	right: 0;
	
}
fieldset ul {
	margin-top:15px;
	display:flex;
	border-bottom:1px solid #e9e9e9;
	padding-bottom:2.5%;
}
fieldset ul > li:nth-of-type(1) {
	margin-right:10px;
}
fieldset ul > li:nth-of-type(2) {
  
}
fieldset ul > li:nth-of-type(3) {
	margin-left:50%;
}

fieldset ul a {
	font-size:1.2rem;
}

fieldset > p {
	position: relative;
	margin-top: 25px;
	color: #535353;
	font-size:1.2rem;
}
fieldset > p > a {
	position: absolute;
  top: 0px;
  right: 0;
}


legend {
	visibility: hidden;
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 0;
	height: 0;
	line-height: 0;
	
}

.inputId {
	border: 1px solid #ccc;
	width: 258px;
	margin-bottom: 5px;
	color: #000;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
}

.inputPassword {
	border: 1px solid #ccc;
	width: 258px;
	margin-bottom: 5px;
	color: #000;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
}

/* shopping cart*/
.bagCount {
	transition: 0.3s;
	display:inline-block;
	color:#000;
	font-size:1.6rem;
	width:2rem;
	height:2rem;
	/* background:#fff; */
	text-align: center;
}
.bagCount.active {
	animation: moving 0.3s forwards;
}
@keyframes moving {
	50% { margin-left:-10px;}
}

.bagCount.action {
  animation: cart_ani 0.4s ease;
}

@keyframes cart_ani {
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  70% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}




.cartWrap {
	opacity: 1;
	position:fixed;
	z-index:2;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.7);
	/* display:none; */
	display:none;
}
.cartClose {
	width:5rem;
	height:5rem;
	font-size:3rem;
	position:absolute;
	top:2.5rem;
	right:2.5rem;
	text-align:center;
	line-height:5rem;
}

.cart {
	border-radius: 5px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:90%;
	height:36.4rem;
	background:#fff;
	padding:2.5%;
	overflow:hidden;
}

.cartTitle {
	width:150px;
	margin:auto;
  border-bottom: 2px solid #e0e0e0;
	font-size:1.4rem;
	text-align:center;
	padding-bottom:10px;
	color:#000;
	font-style:italic;
}

.cartInfoWrap {}
.cartInfo {
	margin-top:20px;
	display:flex;
	border:2px solid #e0e0e0;
}
.cartInfo > li {
	/* padding-right:10px; */
	text-align: center;
	flex:1;	
	padding:5px;
}
.cartInfo > li:not(:last-child){
  border-right:2px solid #e0e0e0;
}

/*cartList*/
.cartLists {
	border-left:2px solid #e0e0e0;
	border-bottom:2px solid #e0e0e0;
	overflow-y:scroll;
	height:24rem;
}

/* .carItem .cartSpan are made by javascript not with HTML */
.cartItem {
	font-size:1.2rem;
	position:relative;
	top:0;
	left:0;
	display:flex;
	align-items: center;
	margin-top:10px;
}
/* This is the delete button to remove the product inside the cart*/
.cartSpan {
	justify-content: flex-end;
	display:none;
}
/* This is the information of price and name inside the cart */
.cartP {
	display:inline-block;
	margin-left:50px;
	font-weight:700;
}
/* This is the input checkbox inside cart inslie productLists > li > This  */
.cartInput {
  margin-left:1%;
}
/* This is the image of prodict inside the cart*/
.cartImage {
	margin-left:20px;
	width:5rem;
	height:6.5rem;
}

.cartControl {
	height:5rem;
	display:flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #e0e0e0;
  border-top: none;
}

.cartControl > div:nth-child(1){
	font-size:1.4rem;
	margin-left:10px;
}
.cartControl > div:nth-child(1) span {
	color:red;
}
.cartControl > div:nth-child(2){}
.cartControl > div:nth-child(3){}

.cartCloseBtn {
	
}
/*header*/
.headerWrap {
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  width: 150px;
  padding: 10px 59px;
  height: 100%;
  font-family: 'Roboto',sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #000;
  /* background:rgba(0,0,0,0.1); */
  background:#fff;
}
.header {
  width:100%;
  height:100%;
}
.menu {
	position:relative;
	top:0;
	left:0;
	width:150px;
	height:100%;

}
.menu > .logo {
  text-align: left;
  margin-top: 50px;
  opacity: 1;
  transition-duration: 0.3s;
}
.category {
	width: 150px;
	font-weight: 700;
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	cursor: pointer;
	text-align: left;
}

.category a {
  font-weight:700;
  color:#181818;
  transition:0.3s;
}

.category a:hover {
	opacity:0.5;
}

.menuLogin {
	color:#545454;
	font-size:1.1rem;
}
.menuLogin span {
  margin-right:15px;
}
.menuLogin a {
	color:#545454;
}

/*searchBar*/
.searchBar {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #757575;
	width: 150px;
	font-size: 10px;
	font-weight: 500;
	
}
.searchBar > div {
	display:flex;
	padding-bottom:5%;
}

.searchBar > div > input {
	width:100px;
	height:2rem;
	margin-right:5px;
	border:none;


}
.searchBar > div > button {
	background:#fff;
	border:none;
	font-size:0.8rem;
}

.mainWrap {
	width:100%;
	height:100%;
}

/*sectionOne*/
.sectionWrap{
	width: calc(100% - 268px);
	margin-left:268px;
}
.sectionOneWrap {
	/* width: calc(100% - 268px); */
	/* width:100%; */
	height:100%;
	position:relative;
	top:0;
	left:0;
	background:url(../images/sectionOne.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 150px center;
	/* margin-left:268px; */

}



.sectionTwoWrap {

	height:100%;
	position:relative;
	top:0;
	left:0;
	background:url(../images/sectionTwo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* margin-left:240px; */

}
.sectionTwo {
	width:100%;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#fff;
}
.sectionTwo > p:nth-of-type(1){
	font-size:2rem;
	text-align: center;
	font-weight:700;
	letter-spacing: 0.5rem;
	border:2px solid #fff;
	padding:1rem;
	width:300px;
	margin:auto;
	margin-bottom:3%;
}
.sectionTwo > p:nth-of-type(2){
	text-align:center;
	font-size: 1rem;
    line-height: 20px;
    opacity: 1;
	font-weight: 300;
	margin:auto;

}

.sectionThreeWrap {
	height:auto;
}
.sectionThree {
	margin-top:100px;
	height:auto;
	background:#fff;

}

.sectionThree .productLists {
	display:flex;
	flex-wrap:wrap;
  /* align-items: space-around; */

}

.productLists > li {
	width:25%;
	height:100%;
	max-height:630px;
	background:#fff;
	/* outline: 1px solid red; */
}
.productPadding {
	/* padding: 0 20px 150px 20px; */
	margin: 0 20px 70px 20px;
}
.productPadding > a {
  display:block;
	position:relative;
	top:0;
	left:0;
}
.productPadding > a:hover img {
	opacity:0.5;
}
.productPadding > a:hover .putCart {
	opacity:1;
}
.putCart {
	display:block;
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:1.6rem;
	font-weight:700;
	color:#333;
	opacity:0.1;
}



.productPadding > a > .productImage {
	width:100%;
	height:100%;
	vertical-align:top;
	position:relative;
	top:0;
	left:0;
	transition:0.3s;
}

.productPadding > p {
	text-align:center;
	/* height:3rem; */
}

.productPadding > p:nth-of-type(1){
	margin-top:19px;
	margin-bottom:5px;
}

.productPadding > p:nth-of-type(3) img {
  
	margin-top: 10px;
	margin-right: 5px;
}


.sectionThree img {
	/* width:100%;
	height:100%; */
}




/* footerSection */
.footerWrap {
	margin-top:100px;
	opacity:0.9;
	font-size:1.2rem;
}

.footer {
	
}

.footer > div {
	flex: 1 0 auto;
}

.mainFooter {
	display:flex;
}

.mainFooter > div {
	flex: 1 0 auto;
}

.bottomFooter {
	display:flex;
	justify-content: space-between;
	margin:3%;
}